
*
!*/
!.git*

##################################################################
# Source files.
##################################################################

# Assembler sources.
!*.s
!*.asm
!*.inc

# C/C++/Objective-C/Objective-C++ source files and headers.
!*.h
!*.hh
!*.hpp
!*.c
!*.cc
!*.cpp
!*.m
!*.mm
!*.inl
!*.rc
!*.def

# C# source files.
!*.cs
!*.gdproj.cs_
!*.gddep.cs_
!*.csproj
!*.csproj.DotSettings

# HLSL/GLSL shaders.
!*.hlsl
!*.glsl

# Scripts.
!*.bat
!*.sh
!*.command
!*.py
!*.lua

# Markup files.
!*.html
!*.xaml

##################################################################
# Configuration files and content.
##################################################################

# Configs.
!*.xml
!*.json
!*.ini
!*.natvis
!*.config

# Other files.
!Doxyfile
!*.md
!*.txt
!*.reg

# Images and content.
!*.ico
!*.png
!*.jpg
!*.bmp
!*.psd
!*.svg
!*.ai
!*.ods
!*.pdf

##################################################################
# Dependencies files and build result.
##################################################################

# Dependencies
!*.a
!*.lib
!*.so
!*.dll
!*.dylib
!*.exe
!*.app

# Build results.
Bin
Lib

# Documentation.
Doc
!Doc/*.md

##################################################################
# Project files.
##################################################################

# macOS
.DS_Store

# GoddamnBuildSystem
/Source/Build
/Source/Projects/**/Build
!/Source/Projects/**/Dependencies
!/Utilities/Extra/ThirdPartyExecutables/*

# Visual Studio (Code/For Mac)
.vs
.vscode
obj

# CLion/CMake
.idea
/Source/CMakeFiles
/Source/cmake-build-debug
/Source/CMakeLists.txt
/Source/CMakeCache.txt
